.box{
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 25px;
}
.box .box-info{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    border-radius: 15px;
    align-items: center;
    background-color: white;
    grid-gap: 10px;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    cursor: pointer;
}
    .box .box-info i {
        padding: 20px;
        font-size: 25px;
    }
    .box .box-info span {
        width: 65px;
        height: 65px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
    }
.row.box .col-lg-3:nth-child(1) .box-info span {
    background-color: #B0E2FF
}
.row.box .col-lg-3:nth-child(2) .box-info span {
    background-color: #FFFBD1;
}
.row.box .col-lg-3:nth-child(3) .box-info span {
    background-color: #C9E4D6; /* Màu cho box thứ 3 */
}
.row.box .col-lg-3:nth-child(4) .box-info span {
    background-color: #ffd3d3; /* Màu cho box thứ 4 */
}
.box-info h3 {
    font-size: 25px;
    margin-bottom: 4px !important;
}
.box-info p {
    margin-bottom: 4px !important;
    font-size: 16px;
}

.chart-container {
    max-width: 350px;
    margin: 20px 0;
}

.warning-table {
    margin-top: 20px;
}

.static-table {
    margin-top: 20px;
}

.gauge-container {
    position: relative;
    max-width: 200px;
    margin: 0 auto;
}

.gauge-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

    .gauge-label h5 {
        font-size: 1.5rem;
        margin: 0;
    }

    .gauge-label p {
        font-size: 0.9rem;
        margin: 0;
    }

.gauge-stats {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

    .gauge-stats div {
        display: flex;
        align-items: center;
        gap: 5px;
    }
.title-chart{
    text-align: center;
    font-size: 20px;
}