
    <div class="container mt-4">

        <!-- Tỷ lệ hoàn thành lịch hẹn (Biểu đồ gauge) -->
        <div class="mb-4">
            <div style="height: 278px;">
                <h5 class="title-chart">Tỷ lệ hoàn thành lịch hẹn</h5>
                <div class="gauge-container">
                    <canvas id="completionRateChart"></canvas>
                    <div class="gauge-label">
                        <h5>90%</h5>
                        <p>Hoàn thành</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="~/js/dashboards-analytics.js?v=@DateTime.Now.Ticks"></script>